* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --font-color: #2B61AB;
    --alert-red: #EE6A55;
    --ok-green: #5B957C;
    --translucent-white: rgba(255,255,255,0.46);
    --border-radius: 20px;
    --margin: 1rem;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("../images/background/background_img.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: var(--font-color);
}

header {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    color: rgba(255,255,255,0.9);
}

main {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    padding: 0px 35px;
}

.hidden{
    display: none; 
}

/*USER CARDS*/
.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    overflow-y: scroll;
    max-height: 85vh;
    /* padding-bottom: 5vh; */

    /* Disable display on scrollbar */
    -ms-overflow-style: none; /* Works for IE & Edge */
    scrollbar-width: none; /* Works for Firefox */
}
.card-container::-webkit-scrollbar { /* Works for webkit browsers (Chrome, Safari and Opera) */
    display: none;
}

.card {
    background-color: var(--translucent-white);
    padding: 30px 10px;
    border-radius: var(--border-radius);
    border: 1px solid white;
    text-align: center;

    & button{
        width: 80%;
    }
}
.card-information {
    background-color: var(--translucent-white);
    padding: 30px;
    border-radius: var(--border-radius);
    border: 1px solid white;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80vh;

    & h2{
        text-align: center;
        margin-bottom: var(--margin);
    }
}

.user-img{
    height: 110px;
    width: 110px;
    clip-path: circle(45%);
}

.comment{
    font-style: italic;
    padding-top: var(--margin);
}

.hidden{
    display: none; 
}

/*TO-DO*/

.todo-item{
    display: grid;
    grid-template-columns: 3rem auto;
    margin-top: var(--margin);
    background: var(--translucent-white);
    border-radius: var(--border-radius);
    align-items: center;
    padding: var(--margin);

    & i, p{
        margin-left: var(--margin);
    }
}

.fa-xmark{
    color: var(--alert-red);
}

.fa-check{
    color: var(--ok-green);
}

/*POSTS*/
.post-card{
    margin-top: var(--margin);
    background: var(--translucent-white);
    border-radius: var(--border-radius);
    align-items: center;
    padding: var(--margin);

    & h3{
        margin-bottom: var(--margin);
    }

    & button{
        margin-top: var(--margin);
    }
}

.comment{
    margin-left: auto;
    margin-right: auto;
    background: var(--translucent-white);
    border-radius: var(--border-radius);
    margin-top: var(--margin);
    padding: var(--margin);
    margin-bottom: 0;
}

/* ---------------------------------Responsive Layout--------------------------------- */

@media(max-width: 1000px){

    .card-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media(max-width: 500px){

    h1 {
        font-size: 30px;
    }

    main {
        display: flex;
        justify-content: center;
    }

    .card-information {
        display: none;
        z-index: 1;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: auto;

    }

}
